$primary-color:#334E9E;
$secondary-color:rgba(0, 172, 236, 0.8);
$thirdly-color:#D0021B;
$quaternary-color:#F3F3F3;
$fifth-color:#1C1C21;

$base-size:4px;
$font-size:20px;
$font-weight:600px;


$large:992px;
$medium:768px;
$small:540px;