@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Satisfy&family=Shizuru&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#header {
  width: 100%;
  background: transparent;
  position: fixed;
  z-index: 99;
}

.navbar-brand {
  color: #fff !important;
  font-size: 30px !important;
  font-weight: 700px !important;
}

.nav-link {
  margin-right: 12px;
  color: #fff !important;
  font-size: 20px -4;
  font-weight: 600px;
}

@media screen and (max-width: 768px) {
  .navbar-nav {
    text-align: center;
  }
}

.carousel-item img {
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 768px) {
  .carousel-item img {
    height: 40vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

#tabs {
  padding: 80px 0;
}

.tab_header {
  text-align: center;
  height: 44px;
}

.tab_header a:hover {
  text-decoration: none;
}

.tab_header a.active {
  background: #17223B;
  color: #fff;
}

.tab_header a {
  border-radius: 5px 5px 0 0;
  font-size: 20px;
  font-weight: 480px;
  padding: 20px;
  line-height: 4px;
  display: inline-block;
  color: black;
}

.tab_display {
  display: none;
}

@media screen and (max-width: 768px) {
  .filter_block {
    display: none;
  }
}

.filter_blocks {
  margin-bottom: 40px;
  padding: 20px 0;
  background: #17223B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.filter_blocks .filter_block {
  display: inline-block;
  margin-right: 40px;
}

.filter_blocks .filter_block .selected {
  font-size: 20px -4;
  font-weight: 500;
  line-height: 20px -1;
  padding: 0 15px 0 20px;
  margin-right: 1px;
  border-radius: 8px;
  height: 40px;
}

.movie-items .movie-name h2 {
  margin-bottom: 0 !important;
}

.movie-items .movie-name h2 a {
  font-size: 20px;
  color: #000000;
  padding: 20px 0;
  display: block;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.movie-items .movie-name h2 a:hover {
  text-decoration: none;
}

.movie-items .movie-poster a img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.movie-items:hover .movie-name {
  background-color: #334E9E;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.movie-items:hover h2 a {
  color: #fff;
}

.poster-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.poster-icons .poster-icon img {
  width: 55px;
  height: 50px;
}

.go-sessio {
  background-color: #F3F3F3;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.go-sessio a {
  background-color: #334E9E;
  font-family: 'Gotham-Medium';
  font-size: 16px;
  color: #FFFFFF;
  line-height: 19px;
  background-color: #334E9E;
  padding: 10px 16px;
  border-radius: 50px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  text-transform: uppercase;
  margin-right: 4px;
}

.go-sessio a:hover {
  text-decoration: none;
  color: #FFFFFF;
  background-color: rgba(0, 172, 236, 0.8);
}

.go-sessio .age-limit {
  border-radius: 50%;
  background-color: #D0021B;
  padding: 8px;
  color: #fff;
}

.movie-card {
  -webkit-perspective: 150rem;
          perspective: 150rem;
  position: relative;
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: none;
}

.movie-card .card-side {
  border-radius: 15px;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  padding: 2rem;
  color: #fff;
}

.movie-card .card-side.back {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  background-color: #334E9E;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.movie-card .card-side.front {
  background-color: #0093E9;
  background-image: linear-gradient(43deg, #0093E9 0%, #C850C0 46%, #FFCC70 100%);
}

.movie-card:hover .card-side.front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.movie-card:hover .card-side.back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.scene {
  width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-perspective: 800px;
          perspective: 800px;
}

.scene .card {
  position: relative;
  width: 240px;
  height: 300px;
  color: white;
  cursor: pointer;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.scene .card:hover {
  -webkit-transform: rotateY(0.5turn);
          transform: rotateY(0.5turn);
}

.scene .card .card__face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -webkit-box-reflect: below 0 linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4));
}

.scene .card .card__face img {
  width: 240px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.scene .card .card__face--back {
  -webkit-transform: rotateY(0.5turn);
          transform: rotateY(0.5turn);
}

#parallax {
  padding: 80px 0;
}

.parallax_image {
  background-image: url(../../../../../assets/image/The-Best-Movies-Trilogies-Of-All-Time.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 500px;
  position: relative;
}

.parallax_image::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  background: black;
  opacity: 0.5;
}

.parallax_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
}

.parallax_content h2 {
  font-size: 60px !important;
  font-weight: 700px;
  font-family: 'Fredericka the Great', cursive;
  text-transform: uppercase;
}

.parallax_content p {
  font-size: 30px;
  font-weight: 600px;
  font-family: 'Fredericka the Great', cursive;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .parallax_content h2 {
    font-size: 40px !important;
  }
  .parallax_content p {
    font-size: 20px;
  }
}

#platinum {
  background-image: url(../../../../../assets/image/platinumbgnew-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  position: relative;
}

#platinum .platinum_title {
  text-align: center;
  padding: 30px 0;
}

#platinum .platinum_title h3 {
  color: #fff;
}

#platinum .platinum_title p {
  color: #fff;
}

#platinum .boxes {
  text-align: center;
}

#platinum .boxes .icon {
  margin-top: 20px;
}

#platinum .boxes .icon i {
  font-size: 40px;
  color: #61ccee;
}

#platinum .boxes .title strong {
  font-size: 20px;
  color: #61ccee;
}

#platinum .boxes .description p {
  color: #fff !important;
  font-size: 20px;
}

#platinum::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  background: rgba(23, 31, 38, 0.7);
}
/*# sourceMappingURL=style.css.map */