

.carousel-item{
    img{
        height: 100vh;
        object-fit: cover;
    }
}

@media screen and (max-width: 768px){
    .carousel-item{
        img{
            height: 40vh;
            object-fit: cover;
        }
    }
}
