#tabs{
     padding: $base-size*20 0;
     background-color: #131720;

    // background-image: url(../../../../../assets/image/home-hero.jpg);
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: center;
    // background-attachment: fixed;
    // width: 100%;
    // height: 100%;
    // position: relative;
}

.tab_header{
    text-align: center;
    height: $base-size*11;

    a:hover{
        text-decoration: none;
    }

    a.active{
        // background-color: #000000;
        // background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
        color: #fff;
        background-color: $primary-color;
        
    }

    a{
        border-radius: 5px 5px 0 0;
        font-size: $base-size*5;
        font-weight: $base-size*120;
        padding: $base-size*5 ;
        line-height: $base-size;
        display: inline-block;
        color: #fff;
    }
}

.tab_display{
    display: none;
}

@media screen and (max-width: 768px){
    .filter_block{
        display: none;
    }
}



    
    .filter_blocks{
        margin-bottom: $base-size*10;
        padding: 20px 0;
        // background-color: #000000;
        // background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
        background-color: $primary-color;
        display: flex;
        justify-content: center;
        text-align: center;
        border-radius: 16px;

        .filter_block{
            display: inline-block;
            margin:0 5px;

            .selected{
                
                font-size: $font-size -4;
                font-weight: 500;
                line-height: $font-size -1;
                padding: 0 15px 0 20px;
                
                margin-right: 1px;
                border-radius: 8px;
                height: $base-size*10;
            }
        }
    }


.movie-items{
    .movie-name{

        h2{
            margin-bottom: 0 !important;
            a{
                font-size: $font-size;
                color: #fff;
                padding: $base-size*5 0;
                display: block;
                text-align: center;
                transition: 0.3s;
            }
            a:hover{
                text-decoration: none;
            }
        }
        
    }

    .movie-poster{
        a{
            img{
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

.movie-items:hover{
    .movie-name{
        background-color: $primary-color;
        
        transition: 0.5s;
    }
    h2{
        a{
            color: black;
        }
    }
}

.poster-icons{
    display: flex;
    justify-content: center;
    .poster-icon{
        
        img{
            width: 55px;
            height: 50px;
        }
    }
}

// .go-sessio{
//     background-color: $quaternary-color;
//     padding: $base-size *5;

//     display: flex;
//     justify-content: flex-end;

//     a{
//         background-color: $primary-color;
        
//         font-family: 'Gotham-Medium';
//         font-size: $base-size*4;
//         color: #FFFFFF;
//         line-height: 19px;
//         background-color: $primary-color;
//         padding: 10px 16px;
//         border-radius: 50px;
//         transition: 0.4s;
//         text-transform: uppercase;
//         margin-right: 4px;
//     }

//     a:hover{
//         text-decoration: none;
//         color: #FFFFFF;
//         background-color: $secondary-color;
//     }


//     .age-limit{
//         border-radius: 50%;
//         background-color: $thirdly-color;
//         padding: $base-size*2 ;
//         color: #fff;

//     }
// }





  .table-dark{

        tbody{
            td{
                .table_link{
                    color: #fff;
                    text-decoration: none;

                }

                .table_link:hover{
                    text-decoration: none;
                }
            }
        }
  }




//   .cards {
//     padding: 40px 0;
    
//     &__wrapper {
//         margin: 0 0 23px 0;
//        &:hover .cards__title {
//             color: #fff;
//             background: $fifth-color;
//        }

//        &:hover .cards__img img {
//            transform: scale(1.2);
//        }
       
//        &:hover .cards__seans{
//            background: #f6f6f6;
//        }
//     }

//     &__title {
//         font-size: $font-size -2;
//         color: $fifth-color;
//         text-align: center;
//         font-weight: $font-weight;
        
//         display: block;
//         padding: 10px 0;
//         min-height: 62px;
//         background-color: #000000;
//         background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
//         transition: 0.4s;  
//     }

//     &__img {
//         position: relative;
//         overflow: hidden;
//         & img {
//             width: 100%;
//             height: auto;
//             object-fit: cover;
//             transition: all .3s linear;
//         }

//         & .cards__sale {
//             position: absolute;
//             right: 0;
//             top: 0;
//             z-index: 1;

//             display: inline-block;
//             padding: 5px 10px;
//             background: rgba(0, 172, 236, 0.8);
            
//             font-size: 12px;
//             line-height: 24px;
//             color: var(--color-main);
//             font-weight: var(--weight-bold);
//             text-align: center;
//             text-transform: uppercase;
//         }
//     }

//     &__language {
//        display: flex;
//        align-items: center;
//        justify-content: center;
//        list-style: none;
//        padding: 0;
//        margin: 10px 0;
//     }

//     &__item {
//         & img {
//             height: 44px;
//             width: 48px;
//         }
//     }

//     &__seans {
//         position: relative;
//         background-color: #000000;
//         background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
        
//         padding: 10px 0;
//         text-align: center;


//         .cards__button {
//             display: inline-block;
//             font-size: 14px;
//             line-height: 19px;
//             color: #fff;
//             font-weight: $font-weight;
//             text-transform: uppercase;

        
//             padding: 12px 20px;
//             background: $fifth-color;
//             border-radius: 50px;
//             transition: 0.4s;
        
//             &:hover {
//                 color: var(--color-main);
//                 background-color: #00ACEC;
                
//                 text-decoration: none;
//             }
//         }
//     }

//     &__raiting {
//         position: absolute;
//         right: 15px;

//         display: inline-block;

//         font-size: 16px;
//         line-height: 40px;
//         color: #FFFFFF;
//         text-align: center;
//         font-weight: var(--weight-bold);

//         width: 40px;
//         height: 40px;
//         border-radius: 50%;
//         background: #D0021B;
//     }
// }





